<div class="container">
    <main class="login-form">
        login + {{ info }}}
        <div class="login-container">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">{{login.submitText}}</button>
                <p>Ещё не зарегистрированы? <a href="/register">{{registerLinkText}}</a></p>
            </form>
        </div>
    </main>
</div>
