<head>
    <link rel="stylesheet" href="/chat.scss">
    <title>Чатище</title>
</head>
<body>
    <div id="app">Страница чата + {{ info }}</div>
      <div class="container">
      <main class="chat">
        Страница чата + {{ info }}
      </main>
    </div>
    <script type="module" src="/src/main.ts"></script>
</body>
